<h1>Here's all <%= categoryChoosed %> Cocktails</h1>
<div class="all-cocktailList">
    <% cocktailList.forEach(({id, name, image}) => { %>
        <div class="polaroid">
            <div><img src="<%= image %> " alt="Cocktail Image" width="100%"></div>
            <div class="container"><a href="/details/<%= id %>"><%= name %></a></div>                                        
        </div>
    <% }) %>
</div>