<h1>Create new Cocktail</h1>
<div id="form">
    
    <form id="input-form" action="/user/create-cocktail" method="POST" enctype="multipart/form-data">
     
      <label> Name of your Cocktail
        <input type="text" name="name" placeholder="Please give a nice name for your Cocktail" required/>
      </label>

      <label> Category
        <select name="category">
            <option value="">--Please choose an option--</option>
            <option value="Alcoholic">Alcoholic</option>
            <option value="Non alcoholic">Non Alcoholic</option>
        </select>
      </label>

      <label> Choose an image to upload
        <input id="image-uplode" type="file" name="receta-img" accept=".jpg, .png">
      </label>
      <div class="preview">
        <p>Please choose an image</p>
      </div>

      <div id="add-ingredients">
        <div>
          <label> Ingredient
            <input type="text" name="ingredient" required/>
          </label>
          <label> Amount
            <input type="text" name="amount" required/>
          </label>
        </div>
      </div>
      <button id="add-ingredient" type="button">Add another ingredient</button>

      <label for="steps"> Preparations & Recommendations</label>
        <textarea name="steps" rows="10"cols="50" placeholder="Please write your suggestion of preparing and consuming this cocktail. (^_^)"></textarea>
      
  
      <% if(typeof errorMessage !== 'undefined') { %>
        <p class="error"><%= errorMessage %></p>
      <% } %>
  
      <button type="submit">Create</button>
   
    </form>
    
  </div>
  <script src="/js/add-ingredient.js"></script>
  <script src="/js/image-preview.js"></script>
  
