<h1>Detail for public</h1> 
<div class="cocktail-card">
    <h2><%= name %></h2>
    <div><img src="<%= image %>" %></div>
    <ul>
        <% ingredients.forEach(element => { %>
            <li><%= element.ingredient %> </li>
        <% }) %>
    </ul>
    <button><a href="/auth/login">Login for more infomations</a></button>
</div>