<p>This is your profile page!</p>
<% if(userInSession) { %>
  <h2>Welcome, <%= userInSession.username %>!</h2>
  <p>This is your profile page!</p>
  <img src="/images/whiskey-sour.PNG" alt="cocktail image" style="width: 400px;"/>

  <button>
    <a href="/">Home page</a>
  </button>
  <button>
    <a href="/user/create-cocktail">Create new Cocktail</a>
  </button>
<% } else { %>
  <br><p>You are not logged in, sorry!</p>
<% } %>