<h1>Login</h1>
<div id="form" class="input-page">
    <form action="/auth/login" method="POST" class="login-form">
        <label> Email
        <input type="email" name="email" placeholder="email@email.com" />
        </label>
        <label>Password
        <input type="password" name="password" placeholder="********" />
        </label>
        <button type="submit">Login</button>
        <% if( typeof errorMessage !== 'undefined') { %>
        <p class="error"><%= errorMessage %></p>
        <% } %>
    </form>
</div>