<h1>Signup</h1>
<div id="form">
    <form action="/auth/signup" method="POST">
   
      <label> Username
        <input type="text" name="username" placeholder="Please enter your username" required/>
      </label>

      <label> Email
        <input type="email" name="email" placeholder="Please enter your email address" required/>
      </label>

      <label> Password
        <input type="password" name="password" placeholder="Please enter your password" required/>
      </label>
  
      <% if(typeof errorMessage !== 'undefined') { %>
        <p class="error"><%= errorMessage %></p>
      <% } %>
  
      <button type="submit">Create account</button>
   
    </form>
  </div>