body {
  padding: 0 0 100px 0;
  margin:0;
  font-family: 'Allerta Stencil';
  font-size: 22px;
  background-color: #4BC0C8; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom,#93C5FD,#701A75)
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  padding-top: 40px;
  color: white;
  text-shadow: 4px 4px #666 ;
}
nav{
  /*padding: 0 20px;*/
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div{
  margin: 20px 10px 0 0;
  padding: 0 15px;
  display: flex;
  align-items: baseline;
}
nav a{
  text-decoration: none;
}
nav button{
  margin-right: 20px;
  background-color: #4BC0C8;
  font-size: 20px;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 15px;
}
h1{
  margin: 50px 0 20px 0;
  text-align: center;
}
#home{
  display: flex;
  align-items: flex-end;
}
#home h3{
  margin:20px 0;
}
.home-divs{
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  padding-left: 50px;
  height: 70px;
  background-color: #4a114d;
  color: white;
  border-radius: 60% 60% 0 0;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
}
footer:hover{
  opacity:1.0;
}

#cocktail-poster{
  padding: 30px 50px 80px 50px;
  display: flex;
  justify-content: space-around;
}
.cocktail-card{
  background-color: rgba(255, 255, 255, 0.4);
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cocktail-card button{
  margin-right: 20px;
  background-color: #4BC0C8;
  font-size: 20px;
  color: white;
  height: 35px;
  width: 300px;
  border-radius: 15px;
}
.cocktail-card button a{
  color: white;
}
.cocktailList{
  padding: 20px;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
}

.polaroid {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.polaroid img{
  border-radius: 10px 10px 0 0;
}
.container {
  height: 50px;
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}
.container a{
  color: black;
}

.all-cocktailList{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 80px;
  border-radius: 10px;
  margin: 50px auto;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

/*detail page*/
.wrapper{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 40px;
  border-radius: 10px;
  margin: 100px auto;
  width: 60%;
  display: grid;
  grid-template: 5 * 1fr; 
  gap: 40px;
}
.cocktail-name{
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
}
.picture{
  border-radius: 15px;
  grid-column: 1/3;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.heart{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  /*filter:contrast(10%);*/
  background-repeat: no-repeat;
  background-size: cover;
}
.heart:hover{
  filter:brightness(200%);
  cursor: pointer;
}

.cocktail-ingredients{
  padding: 10px;
  grid-column: 4/5;
  grid-row: 1/4;
}
.cocktail-ingredients p,
.cocktail-ingredients li{
  font-size: 20px;
}
.cocktail-ingredients ul{
  padding-left: 40px;
}
.moreInfo-btn{
  grid-column: 4/5;
  grid-row: 4/5;
  margin-right: 20px;
  background-color: #4BC0C8;
  font-size: 20px;
  color: white;
  height: 30px;
  width: 100%;
  border-radius: 15px;
}

.badge {
  position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  background: white;
  color: red;
}
/* Login & signup page*/
.input-page{
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 20px auto 310px auto;
  width: 35vw;
}
.login-form label {
  color: black;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
} 
.login-form input,
.login-form button,
.input-form button {
  box-sizing: border-box;
  font-size: 15px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin: 10px 0 20px 0;
}
.login-form button, 
.input-form button {
  background-color: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
} 
.login-form button,
.input-form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

/*Create & edit page*/
.input-form{
  margin: 30px auto;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;  
  background-color: rgba(255, 255, 255, 0.5);
} 
.input-form input, select, textarea{
  box-sizing: border-box;
  font-size: 15px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.add-image:hover{
  color: #43a3e6;
  cursor: pointer;
}
.add-ingredients input{
  width: 60%
}
.add-ingredients{
  display: flex;
  flex-direction: column;
}
.add-ingredients div{
  display: flex;
  flex-direction: row;
}
.preview{
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #666;
  font-size: 15px;
  text-align: center;
}
.cocktail-input input,
.cocktail-input label{
  width: 100%
}
.cocktail-input label{
  display: block;
}
 /*Profile page*/
 
.profile-divs {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profile-list{
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
}
/*.profile-card{
  border: 2px solid navy;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profileList {
  padding: 20px;
  width: 28vw;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;  
}*/

.profile-head{
  margin-bottom: 20px;
  background-image: url("https://res.cloudinary.com/cocktail-lab/image/upload/v1654701350/Cocktail-Lab/drinks1_hqwmmn.jpg");
  background-repeat: no-repeat;
  background-size:  cover;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.welcome {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.welcome p{
  font-size: 50px;
  margin: 40px auto 20px auto;
  text-shadow: 2px 2px rgb(175, 175, 2);
}
.welcome div{
  margin: 20px;
  font-size: 30px;

}
.welcome button{
  margin: 30px;
  background-color: #4BC0C8;
  font-size: 20px;
  color: white;
  height: 30px;
  width: 50%;
  border-radius: 15px;
}
.btn-sidebyside{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.btn-sidebyside button{
  font-size: 16px;
  width:70px;
  height: 25px;
  margin: 0 0 15px 0;
}
.delete-btn:hover{
  background-color: #BE123C;
  cursor: pointer;
}

/*.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}*/