body {
  padding: 0 0 100px 0;
  margin:0;
  font-family: 'Dekko';
  font-size: 22px;
  background-color: #4BC0C8; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top,#833ab4, #833ab4, #fcb045, #4BC0C8, white)
}

a {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  margin-top: 80px;
  color: 15px;
}
nav{
  padding: 0 20px;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div{
  margin: 20px 10px 0 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
nav a{
  text-decoration: none;
}
nav button{
  margin-right: 20px;
  background-color: #4BC0C8;
  font-size: 20px;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 15px;
}
h1{
  margin: 50px 0 20px 0;
  text-align: center;
}
#home{
  display: flex;
  align-items: flex-end;
}
#home h3{
  margin:20px 0;
}
footer {
  padding-left: 50px;
  height: 50px;
  background-color: #421d5a;
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

#cocktail-poster{
  padding: 30px 50px 80px 50px;
  display: flex;
  justify-content: space-around;
}
.cocktail-card{
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cocktail-card button{
  margin-right: 20px;
  background-color: #4BC0C8;
  font-size: 20px;
  color: white;
  height: 35px;
  width: 300px;
  border-radius: 15px;
}
.cocktail-card button a{
  color: white;
}
.cocktailList{
  padding: 20px;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}
.polaroid {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.polaroid img{
  border-radius: 10px 10px 0 0;
}
.container {
  height: 50px;
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}
.container a{
  color: black;
}

.all-cocktailList{
  margin: 20px auto;
  padding: 20px;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}


.input-form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70vw;
  /* height: 100vh; */
}
 
.input-form input, select{
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 50%;
  margin-bottom: 20px;
}
.input-form button{
  width: 200px;
  margin: 20px 0;
}
.add-ingredients input{
  width: 40%
}
.add-ingredients{
  display: flex;
  flex-direction: column;
}
.edit-ingredients{
  display: flex;
  flex-direction: row;
}
.preview{
  background-color: rgba(255, 255, 255, 0.5);
  color: #666;
  text-align: center;
}
.cocktail-input input,
.cocktail-input label{
  width: 100%
}
.cocktail-input label{
  display: block;
}
.profile-divs {
  padding: 100px;
  display: flex;
  justify-content: space-around;
}

.profile-card{
  border: 2px solid navy;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profileList {
  padding: 20px;
  width: 28vw;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;  
  
}
.input-page{
  margin: 0 auto;
  height: 100vh;
  width: 35vw;
}
.login-form label {
  color: black;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
 
.login-form input,
.login-form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}
 
.login-form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
 
.login-form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}
