<h1>Cocktail Lab</h1>
<div>
    <div>
        <h2>Alcoholic</h2>
        <div class="cocktailList">
            <div>Cocktail 1</div>
            <div>Cocktail 2</div>
            <div>Cocktail 3</div>
            <div>Cocktail 4</div>
        </div>
    </div>
    <div>
        <h2>No Alcoholic</h2>
        <div class="cocktailList">
            <div>Cocktail 1</div>
            <div>Cocktail 2</div>
            <div>Cocktail 3</div>
            <div>Cocktail 4</div>
        </div>
    </div>
</div>
