<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <div><img src="/images/logo2_v2.png" height="100px" alt="Cocktail Lab"><a href="/">HOME</a></div>
      <div>
        <div><a href="/auth/signup">Signup</a></div>
        <div><a href="/auth/login">Login</a></div>
        <div><a href="/user/profile">Profile</a></div>
        <form id="logout-form" action="/auth/logout" method="POST">
          <button>Logout</button>
        </form>        
      </div>
    </nav>
    <%- body %>
    <footer>
      <p><%= appTitle %> </p>
      <p>Kat & LU</p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
